models/final_model.h5
models/final_model.json

# =========================
# Python / Backend ignores
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.env

# =========================
# Node / Frontend ignores
# =========================
node_modules/
dist/
build/
*.log
*.cache
*.tmp

# =========================
# OS & Editor junk files
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/


# =========================
# IDE configs
# =========================
.idea/